@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.success-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.success-container img {
    width: 80px;
    height: 80px;
}

.success-container h1 {
    color: #16439b;
}

.success-container p {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
}
