/* Style for body */
body {
  font-family: Arial, sans-serif;
  background-color: #fff; /* White background */
  color: #16439b; /* Dark blue text */
  text-align: center; /* Center align content */
  margin: 50px; /* Add some space around the content */
}

/* Style for buttons */
button {
  background-color: #16439b; /* Dark blue button background */
  color: #fff; /* White button text */
  border: none;
  padding: 10px 20px;
 
  cursor: pointer;
  margin: 10px; /* Add some space around the buttons */
}

button:hover {
  background-color: #0f2c66; /* Slightly darker blue on hover */
}

.b{
	 padding-top: 200px;
}


/* Additional styles can be added as per your specific requirements */
